.rocket-launche {
    text-align: left;
}

.name-rocket-launch {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 800;
    width: 320px;
    height: 48px;
}

.period-rocket-launch {
    line-height: 16px;
    color: #ffffff;
    width: 320px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.date-rocket-launch {
    margin-left: 12px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.75)
}

