.rocket-launch {
    text-align: left;
    width: 320px;

}

.name-rocket-launch {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 16px;
}

.period-rocket-launch {
    line-height: 16px;
    color: #63abff;
    margin-top: 16px;
    margin-bottom: 16px;
}

.date-rocket-launch {
    margin-left: 12px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.75)
}

.location-rocket-launch-div {
    margin-top: 8px;
    margin-bottom: 16px;
    opacity: 25%;
}

.location-rocket-launch {
    margin-left: 12px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.75)
}

