div.scrollyears {
  overflow: auto;
  white-space: nowrap;
}

button.yearbutton {
  border: 0;
  font-size: 18sp;
  font-weight: 900;
  background: transparent;
  margin-left: 12px;
  margin-right: 12px;
  color: #63ABFF;
}

button.yearbutton:focus {
  outline: none;
  color: white;
  border: 20px;
}

button.arrowbutton {
  border: 0;
  background: transparent;
}

button.arrowbutton:focus {
  outline: none;
}

button.arrowbutton:disabled {}
