div.scrollyears {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button.yearbutton {
  border: 0;
  font-size: 18sp;
  font-weight: 900;
  background: transparent;
  margin-left: 12px;
  margin-right: 12px;
  color: #63ABFF;
}

button.yearbuttonSelected {
  outline: none;
  border-width: 0px;
  border-top-width: 3px;
  font-size: 18sp;
  font-weight: 900;
  background: transparent;
  margin-left: 12px;
  margin-right: 12px;
  color: white;
}

button.yearbutton:focus {
  outline: none;
}

button.arrowbutton {
  border: 0;
  background: transparent;
}

button.arrowbutton:focus {
  outline: none;
}

button.for-all-time-button {
  position: absolute;
  top: 10px;
  left: 5%;
  color: #63ABFF;
  font-size: 18sp;
  font-weight: 800;
  background: transparent;
  outline: none;
  border-width: 0px;
}
