div.scrollyears {
  position: absolute;
  background: transparent;
  border-radius: 0dp;
  bottom: 46px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button.yearbutton {
  border: 0;
  padding: 0;
  width: 35px;
  font-size: 18sp;
  font-weight: 900;
  background: transparent;
  margin-left: 12px;
  margin-right: 12px;
  color: #63ABFF;
}

button.yearbuttonSelected {
  outline: none;
  padding: 0;
  width: 35px;
  border-width: 0px;
  border-top-width: 3px;
  font-size: 18sp;
  font-weight: 900;
  background: transparent;
  margin-left: 12px;
  margin-right: 12px;
  color: white;
}

button.yearbutton:focus {
  outline: none;
}

button.arrowbutton {
  border: 0;
  background: transparent;
}

button.arrowbutton:focus {
  outline: none;
}

button.for-all-time-button {
  position: absolute;
  border-radius: 0dp;
  bottom: 48px;
  left: 5%;
  color: #63ABFF;
  font-size: 18sp;
  font-weight: 800;
  background: transparent;
  outline: none;
  border-width: 0px;
  z-index: 10;
}

button.yearbutton:hover,
button.for-all-time-button:hover,
button.arrowbutton:hover {
  opacity: 0.5;
  cursor: pointer;
}
