.list-of-launches {
    border-bottom: 2px solid white;
    width: 320px;
}   
.list-of-launches:hover {
    border-bottom: 2px solid white;
    width: 320px;
    opacity: 0.7;
}  

.list-of-loading {
    position: absolute;
    top: 50%;
    left: 15%;
}