<table>
    <tr>
      <td><button class="tab" (click)="selectLaunches()">Launches</button></td>
      <td><button class="tab" (click)="selectSpaceports()">Spaceports</button></td>
    </tr>
  </table>

<div *ngIf="tab; then thenBlock else elseBlock"></div>   
    <ng-template #thenBlock>
        <div *ngFor="let filter of filters">
          <button class="filter" (click)="selectFilter(filter)">{{filter}}</button>
        </div>
    </ng-template>  
    <ng-template #elseBlock>
        
    </ng-template>
        <select>
          <option *ngFor="let country of countries"><a target="_blank" rel="noopener" href="">{{country}}</a></option>
        </select> 
