   .filter {
    border: 0;
    font-size: 18sp;
    font-weight: 900;
    background: transparent;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px;
    color: #63ABFF;
  }
  
  .filter:focus {
    outline: none;
    color: white;
    border: 20px;
  }

  .tab {
    border: 0;
    font-size: 18sp;
    font-weight: 900;
    background: transparent;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 94px;
    margin-top: 80px;
    color: #63ABFF;
  }
  .tab:focus {
    outline: none;
    color: white;
    border: 20px;
  }

  option {
    background: transparent;
    
  }

  
  