.right-side {
    position: absolute;
    top: 40px;
    bottom: 128px;
    right: 6%;
    overflow:auto;
}

.right-side::-webkit-scrollbar {
 display: none;
}


.right-button {
    position: absolute;
    top: 64px;
    right: 2%;
}